<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.10.1" targetFramework="net40" />
  <package id="angularjs" version="1.2.14" targetFramework="net40" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="0.9.3" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.7.8" targetFramework="net40" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="0.22.2" targetFramework="net451" />
  <package id="Nancy.Hosting.Aspnet" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.SimpleAuthentication" version="0.3.12" targetFramework="net451" />
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net40" />
  <package id="RestSharp" version="104.1" targetFramework="net451" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.SqlServer" version="0.19.0.0" targetFramework="net40" />
  <package id="SimpleAuthentication.Core" version="0.3.12" targetFramework="net451" />
  <package id="sugar.TypeScript.DefinitelyTyped" version="0.2.0" targetFramework="net40" />
  <package id="sugarjs" version="1.4.1" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="Twitter.Bootstrap.Bootswatch.Cerulean" version="3.1.1.1" targetFramework="net40" />
</packages>